process {
  //beforeScript = 'ulimit -c unlimited; hostname; date; pwd'

  // ERROR HANDLING
  errorStrategy = { 
      task.exitStatus in [1,2,3,4,5,6,126,127,134,135,136,137,139,140,143,245,247,249,250,255] ? 'retry' : 'terminate' 
  }
  maxErrors = '-1'
  maxRetries = 20
  
  // RESOURCE MANAGEMENT //

  cpus = { params.threads }

  withLabel:smallMemory {
      cpus = { params.threads }
      time = 10.m
      memory = 2.GB
  }

  withLabel:plink {
      cpus = { params.threads }
      time = { 2.h * task.attempt }
      memory = 10.GB
  }

  withLabel:king {
      cpus = { params.threads }
      time = { 2.h * task.attempt }
      memory = 20.GB
  }

  withLabel:rbase {
      cpus = { params.threads }
      time = { 2.h * task.attempt }
      memory = 10.GB
  }

  withLabel:bigMemory {
      time = { 1.h * task.attempt }
      cpus = { params.threads }
      memory = 90.GB
  }

  withLabel:longRun {
      time = 10.h
      cpus = 24
      memory = 90.GB
  }

  withLabel:bed2ped {
      cpus = { params.threads }
      time = { 1.h * task.attempt }
      memory = 10.GB
  }

  withLabel:eigconvert {
      time = { 3.h * task.attempt }
      cpus = { params.threads }
      memory = 10.GB
  }
  
  withLabel: 'idat_to_gtc' {
    time  = { 5.h * task.attempt }
    memory  = 10.GB
    cpus  = { params.threads * task.attempt }
  }

  withLabel: 'gtc_to_vcf' {
    time  = { 5.h * task.attempt }
    memory  = 10.GB
    cpus  = { params.threads * task.attempt }
  }

  withLabel:plink_assoc {
      cpus = 24
      time = 4.m
      memory = 10.GB
  }

  withLabel:process_plink_assoc {
      cpus = 24
      time = 10.m
      memory = 10.GB
  }


}

